# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Databases & Uploads
backend/telecom_cad.db
backend/uploads/

# OS specific
.DS_Store
Thumbs.db
